<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Refresh" content="30">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <v-app id="app">

        <v-btn depressed small>Normal</v-btn>

        <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
              <v-list-item-title>Single-line item</v-list-item-title>
              <v-list-item-title>Single-line item</v-list-item-title>
              <v-list-item-title>Single-line item</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-avatar color="indigo" size="36">
            <span class="white--text headline">36</span>
          </v-avatar>
        <!-- {{ info.points }} -->
        <ul id="example-1">
            <li v-for="point in info.points">
                <ul id="example-1">
                    <li v-for="passingTime in point.passingTimes">
                        {{ passingTime }}
                    </li>
            </li>
        </ul>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="script.js"></script>
    </v-app>
</body>

</html>


var stibApiKey = 'Bearer d22f95087a02bb41a6745f225d5f1bff';

var app = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    props: {
        source: String,
      },
    data: {
        message: 'Hello Vue!',
        drawer: null,
        info: [],
        stopsIds: null
    },
    mounted() {
        axios
            .get('https://opendata-api.stib-mivb.be/OperationMonitoring/4.0/PassingTimeByPoint/2917%2C2975%2C6204%2C6258',
            { 'headers': { 'Authorization': stibApiKey } })
            .then(response => (this.info = response.data))
    }
})